<mat-grid-list [cols]="amountOfCols" rowHeight="2:1" class="list" (window:resize)="onResize($event)" >
  <mat-grid-tile class="tile">
    <mat-card class="card">
      <mat-card-title>Place order</mat-card-title>
      <mat-card-actions>
        <button  mat-flat-button color="primary" routerLink="/orders/request">
          Request drink
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="tile">
      <mat-card class="card">
      <mat-card-title>Orders</mat-card-title>
      <mat-card-actions>
        <button mat-flat-button color="primary" routerLink="/orders/list">
          View orders
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<router-outlet></router-outlet>
