<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Order order</mat-card-title>
      <mat-card-actions>
        <button mat-button routerLink="/orders/request">
          Make request
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Order overview</mat-card-title>
      <mat-card-actions>
        <button mat-button routerLink="/orders/list">
          View orders
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<router-outlet></router-outlet>
