<div class="container">
  <div class="action-header" *ngIf="requestedDrinks.length !== 0">
    <button mat-flat-button  color="primary" (click)="onCloseAll()">Close all</button>
    <mat-divider></mat-divider>
  </div>
  
  <mat-card *ngFor="let requestedDrink of requestedDrinks" class="card">
    <mat-card-content>
        <p>{{ requestedDrink.name }} ({{
            requestedDrink.container | containerToTextPipe
          }})</p>
      <p>{{ requestedDrink.creationDate | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="markDrinkAsDone(requestedDrink.drinkId)">
        Mark as completed</button>
      </mat-card-actions>
  </mat-card>
  <mat-card class="card" *ngIf="requestedDrinks.length === 0">
    <mat-card-content>No drinks requested at all</mat-card-content></mat-card>
</div>