<mat-card *ngFor="let order of orders">
  <mat-card-title>{{ order.creationDate | date }}</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let drink of order.drinks">
        {{ drink.name }} ({{
          drink.container | containerToTextPipe
        }})
        <button mat-mini-fab color="primary" (click)="markDrinkAsDone(drink.id)">Primary</button>
      </mat-list-item>
    </mat-list>
    <button mat-button (click)="deleteOrder(order.id)">Delete Order</button>
  </mat-card-content>
</mat-card>


