<div class="container">
    <form [formGroup]="requestOrderFormGroup">
        <mat-card class="card">
            <mat-card-title>Make a request</mat-card-title>
            <mat-card-content>
                <mat-form-field>
                    <mat-select placeholder="Drinks" multiple formControlName="drinkControl">
                        <mat-option value="option" *ngFor="let drink of drinks" [value]="drink.name">{{ drink.name }} ({{ drink.container | containerToTextPipe }})</mat-option>
                    </mat-select>         
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions class="buttons">
                <button mat-stroked-button type="button" color="primary" (click)="back()">Cancel</button>
                <button mat-flat-button type="button" color="primary"  (click)="request()">Submit</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>