@import '~@angular/material/theming';
.container{
    .card{
        margin:10px;
        .drinkTile{
            width: calc(100% - 5px);
            height: calc(100% - 5px);
            img{
                margin:10px;
                max-height: 250px;
                max-width: 50px;
            }
        }
        .mat-button-toggle-checked{
            border-color: blueviolet;
        }
        .title-actions{
            display: flex;
            justify-content: space-between;
        }
        .buttons{
            display: flex;
            justify-content: flex-end;
            button{
                margin-left:16px;
            }
        }
    }
}